<section id="menu" class="menu section">

	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<h2>Menümüz</h2>
		<p><span>bütçe Dostu</span> <span class="description-title">Muhteşem Lezzetler</span></p>
	</div><!-- End Section Title -->

	<div class="container">


		@await Component.InvokeAsync("_CategoryDefaultComponentPartial");



		@await Component.InvokeAsync("_ProductDefaultComponentPartial");
		

		

	</div>

</section>